---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import "../../assets/scss/astro-ecommerce.scss";
import ProductFeature from "../components/products/productFeature";
import Navbar from "../components/navbar";
import Footer from "../components/footer";
import TestimonialsFade from "../components/promo/testimonialsFade";
import PromoSectionLarge from "../components/promo/promoSectionLarge";
---

<Layout title="Landing Page">
  <main>
    <Navbar />
    <PromoSectionLarge
      title={"Collection is here"}
      full_description={data.products[0].full_description ?? ""}
      pageHeaderBgImg={"../images/floor1.jpg"}
      pageHeaderMinVh="80vh"
      client:load
    />
    <div class="container my-5">
      <Footer />
    </div>
  </main>
</Layout>
